@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-fast: 150ms;
}

html, body, #root {
  height: 100%;
}

body {
  transition: background-color var(--transition-fast);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
